.goal-title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  height: 2.5em;
}
.goal-description {
  width: 80%;
  display: block;
  margin: auto;
  height: 3em;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  font-style: italic;
  min-width: 80%;
  max-width: 80%;
  text-align: center;
}
