.wrapper {
  text-align: center;
  border: solid 1px darkslategrey;
  border-bottom: none;
  cursor: pointer;
}
.day-name {
  font-size: small;
}
.date {
  font-size: large;
  font-weight: bold;
  padding:0px;
}
.month {
  font-size: smaller;
}
