.wrapper {
  text-align: center;
  border: solid 1px darkslategrey;
  border-bottom: none;
  cursor: pointer;
  height: 100%;
  display: flex;
}
.details {
  width: 50%;
  padding-top: 1vh;
}
.date {
  width:50%;
  font-size: x-large;
  font-weight: bold;
  padding-top: 1vh;
}
.day-name {
  font-size: small;
}
.month {
  font-size: smaller;
}
